django ~= 1.11
django-cors-headers ~= 1.3.1
graphene ~= 1.3
# We need 9eb339e2e3817b1d404573f24c10b325af621989, which is not in any release
# yet. Change this to `graphene-django ~= 1.2.2` once that version has been
# released.
https://github.com/graphql-python/graphene-django/archive/46a1ddedd8af3a73bac5615355e0f92375420ee9.zip
pycontracts ~= 1.7.5