apispec==0.27.1
click==6.7
decorator==4.2.1
Flask==0.12.2
Flask-Cors==3.0.3
itsdangerous==0.24
Jinja2==2.10
jsonpatch==1.21
jsonpointer==2.0
jsonschema==2.6.0
MarkupSafe==1.0
py-irsend==1.0.0
PyContracts==1.8.2
pyparsing==2.2.0
PyYAML==3.12
six==1.11.0
Werkzeug==0.14.1
